<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>

{{/*
------ NOTE ------
eq (equal) artinya arg1 == arg2
ne (not equal) artinya arg1 != arg2
lt (less than) artinya arg1 < arg2
le (less than equal) artinya arg1 <= arg2
gt (greater than) artinya arg1 > arg2
ge (greater than equal) artinya arg1 >= arg2 
*/}}

<body>
{{if ge .FinalValue 80}}
    <h1>Good</h1>
{{else if ge .FinalValue 60}}
    <h1>Nice Try</h1>
{{else}}
    <h1>Try Again</h1>
{{end}}
</body>
</html>